[submodule "Quantum-API"]
	path = Quantum-API
	url = https://github.com/subatomicERROR/Quantum-API.git
[submodule "submodules/Quantum-ML"]
	path = submodules/Quantum-ML
	url = https://github.com/subatomicERROR/Quantum-ML.git
